@use '../assets/scss/utils.scss' as utils;
@use '../assets/scss/units.scss' as units;

.main {
	position: relative;
	min-height: units.rem(660);
	height: 100vh;
	width: 100vw;
	padding: units.rem(32) 0 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 0;

	&--daytime {
		background-image: url('../assets/images/mobile/bg-image-daytime--mobile.jpg');
	}

	&--nighttime {
		background-image: url('../assets/images/mobile/bg-image-nighttime--mobile.jpg');
	}

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: map-get(utils.$colors, c-black-overlay);
		z-index: -1;
	}

	@media screen and (min-width: map-get(utils.$viewports, v-tablet)) {
		padding: units.rem(80) 0;

		&--daytime {
			background-image: url('../assets/images/tablet/bg-image-daytime--tablet.jpg');
		}

		&--nighttime {
			background-image: url('../assets/images/tablet/bg-image-nighttime--tablet.jpg');
		}
	}

	@media screen and (min-width: map-get(utils.$viewports, v-desktop)) {
		height: 100vh;
		padding: units.rem(56) 0 0;

		&--daytime {
			background-image: url('../assets/images/desktop/bg-image-daytime--desktop.jpg');
		}

		&--nighttime {
			background-image: url('../assets/images/desktop/bg-image-nighttime--desktop.jpg');
		}
	}
}
